.blockIndicator {
  background-color: transparent;
  opacity: 0.0;
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  animation-duration: 2s;
  animation-name: animateBlocker;
  animation-fill-mode: forwards;
}

@keyframes animateBlocker {
    from {
      opacity: 0.0;
    }
    20% {
      opacity: 1.0;
    }
    to {
      opacity: 0.0;
    }
}
